# Python
__pycache__/
*.pyc

# Ambiente virtual
.venv/
venv/
env/

# Variáveis de ambiente
.env

# Django
db.sqlite3
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Sistema Operacional
.DS_Store
Thumbs.db

# Coverage/Testes
.coverage
htmlcov/
.pytest_cache/

# Build
dist/
build/